*{margin: 0; padding: 0; box-sizing: border-box; color: inherit;}
a{text-decoration: none;}
.flex{display:flex;}
header{width: 100%; background: #333;}
header .title{text-align: center; color:#000; line-height: 100px; background: #fff;}
nav{ padding:5px 2rem; background:blue; gap:1.5rem; color:#fff; }
footer{width:100%; position: fixed; bottom: 0; left: 0}
footer h2{text-align: center; line-height:100px; color:#000; background: #999}

#index .index_title{text-align: center;  line-height: 100px;}
#index h4{padding: 10px}

#memberList .memberList_title{padding:2rem 0rem; text-align: center;}
.mentoTitle{text-align: center; padding: 1rem 0rem;}
.rankTitle{text-align: center; padding: 1rem 0rem;}
 table{margin:0 auto;}
 td{padding:4px 10px; text-align: center;}
 
.insertTitle{text-align: center;padding: 1rem 0rem;}
.insert td{text-align: left;}